.map-container {
    height:800px;
    width: 800px;
    min-width: 800px;
    min-height: 800px;
    margin: auto;
    border: 5px solid red;
    border-radius: 7px;
}
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body,
button,
input,
select {
  font-family: "Source Sans Pro", "Helvetica", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 0 1.5em;
}

header {
    height: auto;
    background-color: black;
    color: red;
    width: 100%;
}

header h1 {
    margin: auto;
    width: 60%;
    padding-top: 5px;
}
.fixed-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.content {
    padding-top: 100px;
    height: auto;
    width: 75%;
    display: flex;
    margin: auto;
}
.question-wrapper {
  padding-right: 5px;
}

.questions {
    text-align: center;
}

#q1,
#q2,
#q3,
#q4,
#q5{
  display: none;
}

.questions h3 {
  margin-bottom: 5px!important;
}

.questions h4{
  margin-top: 5px!important;
}

#score {
  font-size: larger;
  font-weight: 500;
}


.timer {
  margin-top: 10px;
  border: 5px solid red;
  border-radius: 7px;
  padding: 5px;

  font-size: 35px;
}